<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FavWord Generator</title>
    <link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
          rel='stylesheet' type='text/css' />
    <style>
        body {
            font-family: 'Calibri', serif;
            font-size: 11pt;
        }
    </style>
</head>
<body th:background="@{img/Apple Music Colors Blur 5K8160311542.jpeg}">
<div align="center">
    <h1>FavWord Cloud</h1>
</div>
<div align="center">
    <img th:src="@{https://quickchart.io/wordcloud(removeStopwords=true, maxNumWords=2000, minWordLength=4, format=png, text=${lyrics.lyrics})}" alt=""/>
</div>
<div align="center">
    <form th:action = "@{/}" method = "get">
        <table>
            <tr>
                <td></td>
                <td><input type="submit" value="Generate Another WordCloud"/></td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>