<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FavWord Generator</title>
    <link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
          rel='stylesheet' type='text/css' />
    <style>
        body {
            font-family: 'Calibri', serif;
            font-size: 11pt;
        }
    </style>
</head>
<body th:background="@{img/Apple Music Colors Blur 5K8160311542.jpeg}">
  <div align="center">
    <h1>FavWord Generator</h1>
  </div>
  <div align="center">
    <form th:action = "@{/generated}" method = "post" th:object = "${query}">
      <table>
        <tr>
            <input type="text" th:field="*{query}"/>
        </tr>
        <tr>
            <div align="center">
                <td><input type="submit" value="Generate"/></td>
            </div>
        </tr>
      </table>
    </form>
  </div>
</body>
<footer>
    <div id="bottom" align="center">
        <a href="https://github.com/quinnoneal/FavWord-Application">Opensource Github Repo</a>
    </div>
</footer>
</html>